{% load getstatus %}

<div class="small-container cart-page">
        {% if orders%}
        <table>
            <tbody><tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.id }}</td>
                <td>{{ order.created_at}}</td>
                <td>{{ order.total_price}}</td>
                {% getstatus order.order_status as status_text %}
                <td>{{ status_text }}</td>
            </tr>
            
            {% endfor %}
        </tbody></table>
        {% else %}
        <p></p>
        {% endif %}
</div>