{% extends 'blank_layout.html'%}

{% block content %}

{% if messages %}
    <div class="message-container">
    {% for message in messages %}
        <div class="message {{ message.tags }}" style="border: 1px solid darkred; background-color: rgb(196, 219, 255); padding: 8px 12px; font-size: 13px; 
                    border-radius: 6px; font-weight: 400; color: #800; box-shadow: 0 2px 5px rgba(0,0,0,0.1); line-height: 1.4;
                    margin-bottom: 8px;cursor: pointer;">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% else %}

{% include 'order_container.html' %}

{% endif %}
{%  endblock content %}
