{% load static %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-4">
            <a href="{% url 'detail_product' product.id %}">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                {% else %}
                    <img src="{% static 'images/no-image.png' %}">
                {% endif %}
            </a>
            <h4>{{ product.title }}</h4>
            <p>${{ product.price }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="page-btn">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">«</a>
        {% endif %}

        <span>{{ products.number }}</span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">»</a>
        {% endif %}
    </div>
</div>
