{% load static %}

<div class="small-container single-product">
    <div class="row">
        <!-- Left column: product images -->
        <div class="col-2">
            <img src="{{ product.image.url }}" class="ProductImg" style="width: 100%; height: 300px; object-fit: cover;">

            
        </div>

        <!-- Right column: product details -->
        <div class="col-2">
            <p>Home / {{ product.title }}</p>
            <h1>{{ product.title }}</h1>
            <h4>${{ product.price }}</h4>
            <form method="post" action="{% url 'add_to_cart'%}" enctype="multipart/form-data">  
                {% csrf_token %}  
                <input type="hidden" value="{{ product.id }}" name="product_id">      
                <input type="number" name="quantity" value="1">
                <button type="submit" class="btn">Add To Cart</button>
            </form>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

<script>
    let ProductImg = document.getElementById("ProductImg");
    let smallImgs = document.getElementsByClassName("small-img");

    for (let i = 0; i < smallImgs.length; i++) {
        smallImgs[i].onclick = function () {
            ProductImg.src = this.src;
        }
    }
</script>
